body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 219, 178);
}

#calculator {
    background-color: rgb(101, 101, 101);
    height: 600px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 13px;

    display: grid;
    grid-template-rows: 3fr 5fr;
    padding: 20px;
    gap: 15px;
}


/* Top of Calculator */

#display {
    background-color: rgb(240, 240, 240);
    border-radius: 7px;
    display: grid;
    grid-template-rows: 4fr 3fr;
    justify-content: flex-end;
    padding: 30px;
}

#display > * {
    text-align: end;
}

#calculation {
    flex: 1 0 20px;
    align-self: flex-end;
    padding: 15px 0;
}

#result {
    flex: 2 0 20px;
    align-self: center;
    font-size: 30px;
}




/* Bottom of Calculator */

#buttonsgrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

button {
    font-size: 25px;
    border-radius: 4px;
    border: none; 
}



button:hover {
    transform: scale(1.05);
}

button:active {
    transform:  scale(0.95);
    transition: 0.05s;
}

.arrows {
    display: grid;
    gap: 3px;
    width: auto;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}


#equalsbutton {
    background-color: rgb(74, 138, 242);
    color: rgb(56, 56, 56);
}

#equalsbutton:active {
    background-color: rgb(27, 75, 170);
    color: azure;
}

.operators {
    background-color: rgb(226, 102, 102);
}

.operators:active {
    background-color: rgb(172, 51, 51);
    color: azure;
}

